.swiper {
  width: 300px;
  height: 350px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(120, 200, 200);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(130, 210, 205);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(140, 215, 210);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(150, 220, 215);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(160, 225, 220);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(170, 230, 225);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(180, 235, 230);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(190, 240, 335);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(200, 250, 240);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(210, 255, 245);
}
